@model IEnumerable<Financial_Portal.Models.BankBalance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-6">
        <h3>HouseHold Accounts - mine
            <button id="createButton" class="btn btn-primary">Create New Account</button>
        </h3>

        <p>
        <hr />    
        </p>
        <table class="table table-bordered table-striped compact table-hover" id="acctTable">
            <thead>
                <tr>
                    <th class="centered">
                        Account Name
                    </th>
                    <th class="centered">
                        Balance
                    </th>
                    <th class="centered">
                        Bank Balance
                    </th>
                    <th class="centered">
                        Manage Accounts
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="centered">
                            @Html.DisplayFor(modelItem => item.Account.HAName)
                        </td>
                        <td class="centered">
                            @Html.DisplayFor(modelItem => item.Account.Balance)
                 
                        </td>
                        <td class="centered">
                            @Html.DisplayFor(modelItem => item.BankBal)
                        </td>
                        <td class="centered">
                            <button data-id="@item.Account.Id" class="btn btn-primary editButton">Edit</button> |
                            <button data-id="@item.Account.Id" class="btn btn-primary delButton">DELETE</button> |
                            @*<button data-id="@item.Id" class="btn btn-primary trxButton">Detail</button>*@
                            @Html.ActionLink("Details", "Details", "HouseAccounts", new { id = item.Account.Id }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 centered">
        <div id="editAcct">

        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $('.editButton').click(function () {
                $('#editAcct').load("/HouseAccounts/_Edit/" + $(this).data('id'));
            });

            $('.delButton').click(function () {
                $('#editAcct').load("/HouseAccounts/_Delete/" + $(this).data('id'));
            });

            $('#createButton').click(function () {
                $('#editAcct').load("/HouseAccounts/_Create/");
            });

            $('#acctTable').DataTable();

        });
    </script>
}
