@model IEnumerable<Financial_Portal.Models.Budget>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h3>The @ViewBag.HName.HName Household Budget</h3>
            <button class="btn btn-primary addButton">Add New Budget Item</button>
            @Html.ActionLink("Create New Budget", "CreateNewBudget", "Budgets", null, new { @class = "btn btn-primary", @id = "createButton" })<br />

             <h4 class="text-danger centered">@ViewBag.Message</h4>
        
        <hr />
        <table class="table table-bordered table-striped compact table-hover myTable">
            <thead>
                <tr>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Budget Name
                    </th>
                    <th>
                        Frequency
                    </th>
                    <th>
                        Monthly Budget
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cat.CName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Frequency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BAmount)
                        </td>
                        <td class="centered">
                            <button data-id="@item.Id" class="btn btn-primary editButton">Edit</button> |
                            <button data-id="@item.Id" class="btn btn-primary delButton">DELETE</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-5" id="insertPartials">
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('.addButton').click(function () {
                $('#insertPartials').load("/Budgets/_Add/");
            });

            $('.editButton').click(function () {
                $('#insertPartials').load("/Budgets/_Edit/" + $(this).data('id'));
            });

            $('.delButton').click(function () {
                $('#insertPartials').load("/Budgets/_Delete/" + $(this).data('id'));
            });

            $('.myTable').DataTable();
        });
    </script>
}
